{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    {% block head %}
        <head>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
            <script src="{% static 'polls/bootstrap/js/bootstrap.js' %}"></script>
            <link rel="shortcut icon" href="{% static 'polls/bootstrap/icons/some_guy4.ico' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'polls/bootstrap/css/bootstrap.css' %}" />
            <link href="{% static 'polls/bootstrap/css/starter-template.css' %}" rel="stylesheet">
            {% block extra_css %}
            {% endblock %}
        </head>
    {% endblock %}
    
    <!--{% block title %}  {% endblock %}-->
    <title>
        Ixion.
    </title>

    <body>
        {% block navbar %}
            <nav class="navbar navbar-default navbar-fixed-top">
              <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="{% url 'polls:index' %}">
                    <img alt="Brand" src="{% static 'polls/bootstrap/icons/some_guy4.ico' %}">
                    <!--Ixion-->
                  </a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                  <ul class="nav navbar-nav">
                    <li><a href="{% url 'polls:index' %}">Home</a></li> <!--class="active"-->
                    <li><a href="{% url 'polls:login' %}">Login</a></li>
                    <!--
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    -->
                    <!--<li><a href="#inbox">Inbox <span class="badge">10</span></a></li>-->
                  </ul>
                </div>
                <!--/.nav-collapse -->
              </div>
            </nav>
        {% endblock %}
        
        {% block content %}
            <div class="container">
                <div class="starter-template">
                    {% block child_content %}
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
    </body>
</html>